$background: #072340;
$header-font-colour: white;
$highlight-green: #3fb6b2;

.header {
  height: 7.6rem;
  background-color: $background;
  padding-left: 2vw;
  padding-top: 0.5rem;
  position: relative;
  bottom: 1px;
}
.title {
  line-height: 1.5;
  font-weight: 700;
  color: $header-font-colour;
  font-size: 36px;
  margin: 0rem 0rem 0.3rem 0rem;
}

.description-text {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0.5rem 0rem;
  color: $header-font-colour;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

// Buttons
.buttons {
  display: flow-root;
  margin: 1rem;
}
.btn-primary {
  float: right;
  margin-left: 0.7rem;
  border-color: #3fb6b2;
  border-radius: 0.25rem;
  color: white;
  background: #3fb6b2;
  font-weight: 600;
  font-size: 17px;
}

// Table
.border-table {
  padding: 0.7rem 1rem;
  border-width: 1px;
  border-radius: 0.25rem;
  position: relative;
  margin: 1rem -0.75rem 0;
  border: solid#e8e8e8b3;
  margin-left: 1rem;
  margin-right: 1rem;
}
.table > :not(:first-child) {
  border-top: 1px solid $background;
}
.table-header {
  color: $background;
  font-weight: 600;
  font-size: 18px;
}
tbody, td, tfoot, th, thead, tr {
    text-align: center;
}
.button-icon {
  border: none;
  border-radius: 0.25rem;
  color: $background;
  background: white;
  font-size: 17px;
}
// Form
.form-group {
  margin-bottom: 0.5rem;
}
.form {
  margin: 0rem 1rem;
  padding: 0.7rem 1rem;
}
.form-label {
  font-weight: 600;
  font-size: 17px;
  color: $background;
}
.btn-outline-primary {
  border-color: #3fb6b2;
  border-radius: 0.25rem;
  color: #3fb6b2;
  background: white;
  font-weight: 600;
  font-size: 17px;
}
